mixin btn(options = {})
  - const tag = options.href ? "a" : options.tag ? options.tag : "button";
  - const href = options.href || false;
  - const text = options.text || "";
  - const type = options.type || tag === "button" ? options.type || "button" : false;
  - const target = options.isExternal ? "_blank" : false;
  - const rel = options.isExternal ? "nofollow noopener noreferrer" : false;
  - const label = options.label || "кнопка";

  #{tag}.btn(href=href, target=target, rel=rel, type=type, aria-label=label)&attributes(attributes)
    span.btn__text!=text
    span.btn__border
    span.btn__hover
